In [1]:
import sqlite3
from cron_descriptor import get_description, ExpressionDescriptor

In [2]:
con = sqlite3.connect("helpdesk.db")

In [3]:
cur = con.cursor()

In [34]:
cur.execute("DROP TABLE IF EXISTS login")
cur.execute("DROP TABLE IF EXISTS users")
cur.execute("DROP TABLE IF EXISTS tickets")
cur.execute("DROP TABLE IF EXISTS user_schedules")

In [35]:
query_strings = [
    "CREATE TABLE login( \
                user_id STRING NOT NULL PRIMARY KEY, \
                user_email STRING NOT NULL UNIQUE, \
                password STRING NOT NULL\
                )",
    "CREATE TABLE users(\
                user_id STRING NOT NULL PRIMARY KEY, \
                user_name STRING NOT NULL, \
                user_email STRING NOT NULL UNIQUE, \
                user_permissions STRING NOT NULL, \
                department STRING NOT NULL\
                    )",
    "CREATE TABLE user_schedules(\
                user_id INTEGER NOT NULL PRIMARY KEY, \
                schedule STRING NOT NULL\
                    )",
    "CREATE TABLE tickets(\
                ticket_id STRING NOT NULL PRIMARY KEY, \
                requestor_id STRING NOT NULL, \
                assignee_id STRING NOT NULL, \
                department STRING NOT NULL, \
                meeting_timestamp STRING NOT NULL\
                    )"
]

for query in query_strings:
    cur.execute(query)

In [36]:
def create_new_user(user_name, user_email, user_permissions, department, password="password"):
    results = cur.execute("SELECT MAX(user_id) FROM users")
    if results.fetchone()[0] == None:
        user_id = 1
    else:
        results = cur.execute("SELECT MAX(user_id) FROM users")
        max_id = results.fetchone()[0]
        user_id = max_id + 1
        
    cur.execute("INSERT INTO users VALUES(?,?,?,?,?)", (user_id, user_name, user_email, user_permissions, department)) 
    cur.execute("INSERT INTO login VALUES(?,?,?)", (user_id, user_email, password))
    cur.execute("INSERT INTO user_schedules VALUES(?,?)", (user_id, ""))
    con.commit()

In [37]:
def _initial_user_setup():
    # Create new admin users
    create_new_user("Adam Cameron", "adam.cameron@aaier.ca", 'admin', 'IT')
    create_new_user("Rachita Singh", "rachita.singh@aaier.ca", 'admin', 'IT')
    create_new_user("Inaya Rajwani", "inaya.rajwani@aaier.ca", 'admin', 'IT')
    create_new_user("Emily Chiu", "emily.chiu@aaier.ca", 'admin', 'IT')
    create_new_user("Abee Allen", "abee.allen@aaier.ca", 'admin', 'IT')

    # Create new user users
    create_new_user("Ella Johnson", "ella.johnson@aaier.ca", "user", "Sales")
    create_new_user("Mason Adams", "mason.adams@aaier.ca", "user", "Marketing")
    create_new_user("Ava Mitchell", "ava.mitchell@aaier.ca", "user", "Finance")
    create_new_user("Logan Parker", "logan.parker@aaier.ca", "user", "Sales")
    create_new_user("Grace Turner", "grace.turner@aaier.ca", "user", "Marketing")
    create_new_user("Ethan Bailey", "ethan.bailey@aaier.ca", "user", "Finance")
    create_new_user("Lily Ward", "lily.ward@aaier.ca", "user", "Sales")
    create_new_user("Owen Sullivan", "owen.sullivan@aaier.ca", "user", "Marketing")
    create_new_user("Zoe Fisher", "zoe.fisher@aaier.ca", "user", "Finance")
    create_new_user("Carter Turner", "carter.turner@aaier.ca", "user", "Sales")
    create_new_user("Sophia Hughes", "sophia.hughes@aaier.ca", "user", "Marketing")
    create_new_user("Jackson Reynolds", "jackson.reynolds@aaier.ca", "user", "Finance")
    create_new_user("Olivia King", "olivia.king@aaier.ca", "user", "Sales")
    create_new_user("Liam Wells", "liam.wells@aaier.ca", "user", "Marketing")
    create_new_user("Chloe Carter", "chloe.carter@aaier.ca", "user", "Finance")
    create_new_user("Lucas Hayes", "lucas.hayes@aaier.ca", "user", "Sales")
    create_new_user("Avery Nelson", "avery.nelson@aaier.ca", "user", "Marketing")
    create_new_user("Scarlett Hughes", "scarlett.hughes@aaier.ca", "user", "Finance")
    create_new_user("Noah Turner", "noah.turner@aaier.ca", "user", "Sales")
    create_new_user("Emma Baker", "emma.baker@aaier.ca", "user", "Marketing")

In [62]:
def login(user_email, password):
    res = cur.execute("SELECT user_email, password, user_id FROM login")
    results = res.fetchall()
    
    for row in results:
        if row[0] == user_email and row[1] == password:
            return row[2]
        elif row[0] == user_email and row[1] != password:
            return "Incorrect Password"
    return "User not found"

In [59]:
res = cur.execute("SELECT user_email, password, user_id FROM login")
# res = cur.execute("SELECT * FROM users")
results = res.fetchall()
results

[('adam.cameron@aaier.ca', 'password', 1),
 ('rachita.singh@aaier.ca', 'password', 2),
 ('inaya.rajwani@aaier.ca', 'password', 3),
 ('emily.chiu@aaier.ca', 'password', 4),
 ('abee.allen@aaier.ca', 'password', 5),
 ('ella.johnson@aaier.ca', 'password', 6),
 ('mason.adams@aaier.ca', 'password', 7),
 ('ava.mitchell@aaier.ca', 'password', 8),
 ('logan.parker@aaier.ca', 'password', 9),
 ('grace.turner@aaier.ca', 'password', 10),
 ('ethan.bailey@aaier.ca', 'password', 11),
 ('lily.ward@aaier.ca', 'password', 12),
 ('owen.sullivan@aaier.ca', 'password', 13),
 ('zoe.fisher@aaier.ca', 'password', 14),
 ('carter.turner@aaier.ca', 'password', 15),
 ('sophia.hughes@aaier.ca', 'password', 16),
 ('jackson.reynolds@aaier.ca', 'password', 17),
 ('olivia.king@aaier.ca', 'password', 18),
 ('liam.wells@aaier.ca', 'password', 19),
 ('chloe.carter@aaier.ca', 'password', 20),
 ('lucas.hayes@aaier.ca', 'password', 21),
 ('avery.nelson@aaier.ca', 'password', 22),
 ('scarlett.hughes@aaier.ca', 'password', 23),
 ('noah.turner@aaier.ca', 'password', 24),
 ('emma.baker@aaier.ca', 'password', 25)]

In [63]:
login("ella.johnson@aaier.ca", "password")

6

In [25]:
res = cur.execute("SELECT * FROM users")
res.fetchall()

[(1, 'Adam Cameron', 'adam.cameron@aaier.ca', 'admin', 'IT'),
 (2, 'Rachita Singh', 'rachita.singh@aaier.ca', 'admin', 'IT'),
 (3, 'Inaya Rajwani', 'inaya.rajwani@aaier.ca', 'admin', 'IT'),
 (4, 'Emily Chiu', 'emily.chiu@aaier.ca', 'admin', 'IT'),
 (5, 'Abee Allen', 'abee.allen@aaier.ca', 'admin', 'IT'),
 (6, 'Ella Johnson', 'ella.johnson@aaier.ca', 'user', 'Sales'),
 (7, 'Mason Adams', 'mason.adams@aaier.ca', 'user', 'Marketing'),
 (8, 'Ava Mitchell', 'ava.mitchell@aaier.ca', 'user', 'Finance'),
 (9, 'Logan Parker', 'logan.parker@aaier.ca', 'user', 'Sales'),
 (10, 'Grace Turner', 'grace.turner@aaier.ca', 'user', 'Marketing'),
 (11, 'Ethan Bailey', 'ethan.bailey@aaier.ca', 'user', 'Finance'),
 (12, 'Lily Ward', 'lily.ward@aaier.ca', 'user', 'Sales'),
 (13, 'Owen Sullivan', 'owen.sullivan@aaier.ca', 'user', 'Marketing'),
 (14, 'Zoe Fisher', 'zoe.fisher@aaier.ca', 'user', 'Finance'),
 (15, 'Carter Turner', 'carter.turner@aaier.ca', 'user', 'Sales'),
 (16, 'Sophia Hughes', 'sophia.hughes@aaier.ca', 'user', 'Marketing'),
 (17, 'Jackson Reynolds', 'jackson.reynolds@aaier.ca', 'user', 'Finance'),
 (18, 'Olivia King', 'olivia.king@aaier.ca', 'user', 'Sales'),
 (19, 'Liam Wells', 'liam.wells@aaier.ca', 'user', 'Marketing'),
 (20, 'Chloe Carter', 'chloe.carter@aaier.ca', 'user', 'Finance'),
 (21, 'Lucas Hayes', 'lucas.hayes@aaier.ca', 'user', 'Sales'),
 (22, 'Avery Nelson', 'avery.nelson@aaier.ca', 'user', 'Marketing'),
 (23, 'Scarlett Hughes', 'scarlett.hughes@aaier.ca', 'user', 'Finance'),
 (24, 'Noah Turner', 'noah.turner@aaier.ca', 'user', 'Sales'),
 (25, 'Emma Baker', 'emma.baker@aaier.ca', 'user', 'Marketing')]

In [12]:
schedule = "* 12-13 * * 1,* 14 * * 3,* 11 * * 5"

In [13]:
schedule.split(",")

['* 12-13 * * 1', ' * 14 * * 3', ' * 11 * * 5']

In [8]:
cur.execute("DROP TABLE movie")

In [9]:
res = cur.execute("SELECT * FROM movie")
res.fetchone()

OperationalError: no such table: movie